<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/food.css">
</head>
<body>

    <section class="nav-bar">
        <h2> <a href="/profile" class="nav-1"> HOME </a></h2>
        <h2> <a href="/booking" class="nav-2"> BOOK A TRIP </a></h2>
        <h2> <a href="/contacts" class="nav-3"> CONTACTS </a></h2>
        <h2> <a href="/logout"class="nav-4"> LOGOUT </a></h2>
    </section>

    <h1>Food Recommendations Near <span id="location"> <%= destination %></span></h1>
    <div id="map"></div>
    <div>
        <ul id="list">
        </ul>
    </div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjF4bqBu5j4eX7WU_EUnvlFRTkvs8iLac&libraries=places"></script>
<script src="../js/recs.js"></script>
</body>
</html>