.rec {
    border-radius: 8px;
    background: white;
    box-shadow: 10px 10px 19px -7px rgba(0,0,0,0.75);
    width: 25%;
}

h1{
    color: white;
    text-align: center;
}

.rec img{
    width: 88%;
}

body{
    background: #09C6AB;
}

ul{
    list-style: none;
}

#list{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}