* {
    box-sizing: border-box;
    }
    
body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  overflow-x: hidden;
  font-family: "Passion One", sans-serif;
}

h1{
  color: white;
  font-weight: bold;
}
.navbar {
  /* position: fixed; */
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0px;
  height: 80px; /* Replace $navbar-height with the actual value */
  width: 100%;
  background: whitesmoke;
  box-shadow: 0px 1px 1px #10101050;
  z-index: 2;
  transition: all 500ms ease;
}

.navbar #logo {
  font-family: "Passion One", sans-serif;
  font-size: 4em;
  padding: 15px;
  background: center / contain repeat url(/images/TheJourneyGuru.jpg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 10%;
  animation: colorize 2500ms ease-out forwards;
  transition: background-size 1s ease, transform 100ms ease, filter 500ms ease;
  user-select: none;
}

.navbar #logo:hover {
  transform: scale(1.05);
  filter: hue-rotate(180deg);
}

.navbar #links {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}

.navbar #links a {
  font-family: "Expletus Sans", sans-serif;
  text-decoration: none;
  color: #09C6AB;
  padding: 8px;
  font-size: 1.25em;
}

.navbar #links a:hover {
  color: #09C6AB;
}

@keyframes colorize {
  100% {
    background-size: 100%;
  }
}
#logo {
    background: url("https://cocoafromghana.org/wp-content/uploads/2017/01/Twitter_GHANA_Kente_beeld-03-Nkyimkyim.jpg");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 10%;
    animation: colorize 2500ms ease-out forwards;
    transition: background-size 1s ease, transform 100ms ease, filter 500ms ease;
    user-select: none;
  }
  
  #logo:hover {
    transform: scale(1.05);
    filter: hue-rotate(180deg);
  }
  
  #links {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: 10px;
  }
  
  #links a {
    font-family: "Expletus Sans", sans-serif;
    text-decoration: none;
    color: black;
    padding: 8px;
    font-size: 1.25em;
  }
  
  #links a:hover {
    color: green;
  }
  
  @keyframes colorize {
    100% {
      background-size: 100%;
    }
  }
  
  @media screen and (max-width: 950px) {
    #logo {
      font-size: 2em;
    }
  
    #links a {
      font-size: 1em;
    }
  }
  
  @media screen and (max-width: 650px) {
    .navbar {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    #logo {
      padding: 0px;
      width: 100%;
      font-size: 2em;
      text-align: center;
    }
  
    #links {
      width: 100%;
      justify-content: space-around;
      margin: auto;
    }
  
    #links a {
      font-size: 15px;
    }
  
    main {
      flex-direction: column;
      margin-top: 80px;
      height: auto;
    }
  
    .segment {
      width: 100%;
      min-height: 250px;
    }
  
    .segment span {
      opacity: 1;
      font-size: 1em;
      padding: 25px;
      height: auto;
      width: auto;
      border-bottom: solid #ffffff 4px;
      border-right: solid #ffffff 4px;
      z-index: -1;
    }
  
    .segment div {
      border-bottom: solid #ffffff 4px;
    }
  }
  
  footer {
    display: flex;
    flex-grow: 1;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 150px;
  }
  
  footer div {
    width: 250px;
    left: 0;
    right: 0;
    margin: auto;
  }
