h1 {
  color: white;
  text-align: center;
  font-size: 60px;
}

body {
  background-image: url(/images1/background.png);
  margin: 0;
  font-family: "Passion One", sans-serif;
  color: white;
}
h1,
h2 {
  margin: 0;
}
h1 {
  padding: 50px 0;
}
h2 {
  padding: 25px 0;
}
h3 {
  padding-top: 20px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
    color: #dddddd;
    border-color: #dddddd;
  }

.destinationTitle{
    text-transform: capitalize;
    }
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1000px;
  position: absolute;
  top: 225px;
  width: 100%;
  z-index: -1;
}

.main-header {
  display: flex;
  justify-content: center;
  background: #43b29d;
  position: relative;
  top: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: darkcyan;
  transition: background 0.5s;
}

.nav-1 {
  transition: margin-right 0.5s ease;
}

.content {
  background: #c0c0c3;
  color: #414041;
}

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  background: darkslategrey;
}

.toleft {
  margin-right: 50%;
}
/* 
a.button2 {
  display: inline-block;
  padding: 0.5em 3.1em;
  border: 0.16em solid #09c6ab;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  transition: all 0.15s;
}
a.button2:hover {
  color: #dddddd;
  border-color: #dddddd;
}
a.button2:active {
  color: #bbbbbb;
  border-color: #bbbbbb;
} */
@media all and (max-width: 30em) {
  a.button2 {
    display: block;
    margin: 0.4em auto;
  }
}

/* BUTTON CSS */
.button-13, .select-13{
  align-items: center;
  background-color: rgba(240, 240, 240, 0.26);
  border: 1px solid #DFDFDF;
  border-radius: 16px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  line-height: 28px;
  max-width: 100%;
  padding: 14px 22px;
  text-decoration: none;
  transition: all .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
}

.button-13:active,
.button-13:hover,
.select-13:active,
.select-13:hover {
  outline: 0;
}

.button-13:hover,
.select-13:hover  {
  background-color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) {
  .button-13,
  select-13 {
    font-size: 20px;
    min-width: 200px;
    padding: 14px 16px;
  }
}

body > div.stuff{
  margin-left: 33%;
}

.friend{
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

